.featured-book__wrapper {
    background-color: #282826;
    margin: 0 auto;
    position: relative
}
.featured-book__content {
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 78.375em;
    padding: 2rem 1em;
    position: relative;
    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
    .wrap {
        padding: 6% 0 9%
    }
}
.featured-book__text {
    color: #fff;
    padding: 0;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 600px) {
        width: 49%;
    }
    .featured-label {
        color: #fbc731;
        font: 400 1.25em/1.125 "Pacifico",sans-serif;
        margin: 0 0 0.75em
    }
    .book-title {
        color: inherit;
        font: 800 1.75em/1.125 "proxima-nova",sans-serif;
        text-transform: uppercase
    }
    .book-subheading {
        color: inherit
    }
    .book-author {
        color: inherit;
        font-family: "PT Serif",serif;
        margin: 1.25em 0 0
    }
}
.featured-book__cta {
	width: 100%;
	text-align: center;
	&.sm {
        @media screen and (min-width: 600px) {
            display: none;
        }
	}
	&.lg {
		display: none;
        @media screen and (min-width: 600px) {
            display: block;
        }
	}
	hr {
        &.diagonal {
            background: transparent url("../img/diagonal-lines.png") left bottom repeat-x;
            border: 0;
            height: 6px;
            margin: 2rem 0
        }
    }
    display: flex;
    @media screen and (max-width: 600px) {
        flex-direction: column
    }
    @media screen and (max-width: 768px) {
        justify-content: center
    }
    .btn {
        font-size: 0.75em;
        padding: 0 6%;
        white-space: nowrap;
        &+.btn {
            margin-left: 0.5rem;
            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-top: 1rem
            }
        }
    }
    .wpcf7-form {
        input[type=submit] {
            font-size: 0.75em;
            padding: 0 6%;
            white-space: nowrap;
            &+.btn {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
            &+input[type=submit] {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
            &+.wpcf7-submit {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
        }
        .wpcf7-submit {
            font-size: 0.75em;
            padding: 0 6%;
            white-space: nowrap;
            &+.btn {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
            &+input[type=submit] {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
            &+.wpcf7-submit {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
        }
        .btn {
            &+input[type=submit] {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
            &+.wpcf7-submit {
                margin-left: 0.5rem;
                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 1rem
                }
            }
        }
    }
}
.featured-book__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-top: 2.5rem;
    @media screen and (min-width: 600px) {
        width: 49%;
        margin-top: 0;
        padding: 3%;
        border-left: 1px solid #333;
    }
}
.featured-book__cover {
    width: 50%;
    @media screen and (max-width: 600px) {
        width: 50%
    }
    @media screen and (max-width: 768px) {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 35%
    }
    a {
        display: inline-block
    }
    img {
        display: block;
        margin: 0 auto;
        &.shadow {
            -moz-box-shadow: 0 0 20px 5px rgba(20,20,20,0.033);
            -webkit-box-shadow: 0 0 20px 5px rgba(20,20,20,0.033);
            box-shadow: 0 0 20px 5px rgba(20,20,20,0.033)
        }
    }
}
.featured-book__testimonial {
    color: #adaba8;
    padding-left: 0;
    text-align: center;
    @media screen and (min-width: 600px) {
        text-align: left;
        margin-top: 5%;
    }
    .testimonial-text {
        color: inherit;
        font-family: "PT Serif",serif;
        line-height: 1.5;
        &::before {
            content: '\201C';
            display: inline-block
        }
    }
    .testimonial-author {
        color: inherit;
        font-family: "proxima-nova",sans-serif;
        font-size: 0.75em;
        font-weight: 600;
        line-height: 1.125;
        margin-top: 1.5rem;
        text-transform: uppercase;
        &::before {
            content: '\2013';
            display: inline-block;
            padding-right: 0.313rem
        }
    }
}