#home-journey {
    padding: 2em 0 4em;
    background: #282826 url("../img/home-journey-bg.jpg") center center no-repeat;
    background-size: cover;
    &>h2 {
        font: 400 2em "Pacifico",sans-serif;
        text-align: center;
        color: #fbc731;
        @media screen and (max-width: 640px) {
            font-size: 1.25em
        }
        @media screen and (max-width: 768px) {
            font-size: 1.75em
        }
    }
    &>h1 {
        margin-bottom: 1em;
        font: 800 2em "proxima-nova",sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: white;
        @media screen and (min-width: 640px) {
            font-size: 2.5em
        }
        @media screen and (min-width: 768px) {
            font-size: 3em
        }
    }
    #clear-journey-filter {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            margin: 2em auto 1em;
        }
    }
    .journey {
        background: url("../img/diagonal-lines-2.png"),url("../img/home-journey-slider-bg.jpg");
        background-size: auto, cover;
        @media screen and (max-width: 768px) {
            background: url("../img/diagonal-lines-2.png")
        }
    }
}

#clear-journey-filter {
    height: 0;
    margin: 0 auto;
    transition: opacity 0.2s ease-in-out;
    position: relative;
    @media screen and (min-width: 768px) {
        display: block;
        width: 130px;
        margin: -1em auto 4em;
        background: transparent;
        font: 800 0.875em "proxima-nova",sans-serif;
        text-transform: uppercase;
        color: rgba(255,255,255,0.24);
    }
    &.hide {
        z-index: -1;
        height: 0;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.2s ease-in-out
    }
}

.journey {
    position: relative;
    height: auto;
    max-height: none;
    padding: 0.5em 5% 2em 12%;
    letter-spacing: normal;
    background-image: url("../img/diagonal-lines-2.png"),-moz-linear-gradient(45deg, #33322f 0%, #403f3d 100%);
    background-image: url("../img/diagonal-lines-2.png"),-webkit-linear-gradient(45deg, #33322f 0%, #403f3d 100%);
    background-image: url("../img/diagonal-lines-2.png"),-ms-linear-gradient(45deg, #33322f 0%, #403f3d 100%);
    @media screen and (min-width: 768px) {
        display: flex;
        height: 8px;
        max-height: 8px;
        padding: 0 3.571428571%;
        letter-spacing: -4px;
    }
    &.active {
        height: auto;
        max-height: 1000px;
        margin: 0;
        padding: 1em;
        transition: max-height 0.4s ease-in-out;
        div {
            display: inline-block;
            height: auto;
            padding: 1em 0.5em;
            opacity: 1;
            cursor: pointer;
            transition: height 0.4s ease-in-out,opacity 0.4s ease-in-out 1s;
            &:first-child {
                display: none
            }
            &.fade {
                h2 {
                    opacity: 1;
                    transition: opacity 0.4s ease-in-out 0.3s;
                    height: 50%;
                    margin-bottom: 32px;
                }
                h3 {
                    opacity: 1;
                    transition: opacity 0.4s ease-in-out 0.3s
                }
            }
        }
        .slide {
            top: calc(50% + 16px);
            background-color: #6f7373;
            transition: background 0.2s ease-in-out 0.2s;
            .grab {
                left: calc(10% - 16px);
                top: -13px !important;
                -ms-transform: translateX(0);
                -webkit-transform: translateX(0);
                transform: translateX(0);
                max-width: 32px;
                padding: 0;
                border-radius: 16px;
                color: rgba(255,255,255,0);
                transition: left 0.6s ease-in-out 1.2s,transform 0.4s ease-in-out 1.2s,max-width 0.2s ease-in-out 0.4s,padding 0.2s ease-in-out 0.4s,color 0.4s ease-in-out,text-indent 0.1s linear 6s;
                &::before {
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background: #14ad5a;
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out 0.6s
                }
                &::after {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: white;
                    transition: opacity 0.2s ease-in-out 1.2s,transform 0.2s ease-in-out;
                    opacity: 1
                }
                &:hover {
                    &::after {
                        -ms-transform: scale(1.08, 1.08);
                        -webkit-transform: scale(1.08, 1.08);
                        transform: scale(1.08, 1.08)
                    }
                }
            }
        }
    }
    div {
        position: relative;
        z-index: 1;
        display: block;
        width: auto;
        height: auto;
        margin-bottom: 2em;
        opacity: 1;
        text-align: left;
        cursor: pointer;
        @media screen and (min-width: 768px) {
            display: none;
            margin-bottom: 0;
            vertical-align: middle;
            width: 20%;
            height: 0;
            text-align: center;
            letter-spacing: normal;
            opacity: 0;
        }
        &:last-of-type {
            @media screen and (min-width: 768px) {
                margin-bottom: 0
            }
        }
        &.active {
            button {
                background: white
            }
        }
        h2 {
            margin-bottom: 4.625rem;
            font: 700 1.5em/1.1666666667em "proxima-nova",sans-serif;
            color: white;
            opacity: 0;
            transition: all 0.4s ease-in-out 4s;
            @media screen and (max-width: 768px) {
                margin: .5em 0;
                opacity: 1
            }
            @media screen and (max-width: 952px) {
                font-size: 1em
            }
            @media screen and (max-width: 1288px) {
                font-size: 1.2em
            }
        }
        h3 {
            font: 400 0.875em "PT Serif",serif;
            color: #adaba8;
            opacity: 0;
            transition: all 0.4s ease-in-out 4s;
            @media screen and (max-width: 768px) {
                opacity: 1
            }
            @media screen and (max-width: 952px) {
                font-size: .75em
            }
        }
        button {
            position: absolute;
            left: -12.5%;
            top: 0;
            display: block;
            width: 24px;
            height: 24px;
            border: 2px solid #adaba8;
            border-radius: 12px;
            background: #666660;
            transition: background-color 0.2s ease-in-out;
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
    }
    .slide {
        position: absolute;
        left: 4%;
        top: 0;
        width: 8px;
        height: 100%;
        transform: none;
        border-radius: 0;
        background-color: #6f7373;
        @media screen and (min-width: 768px) {
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 92.85714286%;
            height: 4px;
            border-radius: 4px;
        }
        .grab {
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
                position: absolute;
                left: 50%;
                top: -13px !important;
                transform: translateX(-50%);
                max-width: 1000px;
                height: 32px;
                padding: 0 2%;
                border-radius: 16px;
                background: white;
                box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.04),0px 12px 32px 0px rgba(0,0,0,0.16);
                font: 800 .875em/2.2857142857em "proxima-nova",sans-serif;
                text-transform: uppercase;
                letter-spacing: normal;
                color: #282826;
                cursor: pointer;
            }
            &::before {
                content: "";
                opacity: 0
            }
            &::after {
                content: "";
                opacity: 0
            }
        }
    }
}
.light {
    .journey {
        background: white;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.04),0px 2px 32px 0px rgba(0,0,0,0.04);
        &.active {
            .slide {
                background-color: #adaba8
            }
        }
        div {
            &.active {
                button {
                    @media screen and (max-width: 768px) {
                        border-color: #666660;
                        background: #adaba8
                    }
                }
            }
            h2 {
                color: #282826
            }
            button {
                @media screen and (max-width: 768px) {
                    background: white
                }
            }
        }
    }
}