#home-recent-posts {
    .std-pad {
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #eee;
        transition: opacity 0.2s ease-in-out,height 0.1s ease-in-out 0.2s;
        opacity: 1;
        &.hidden {
            height: 0;
            opacity: 0
        }
        &>article {
            position: relative;
            top: -2em;
            letter-spacing: -4px;
            &>div {
                vertical-align: middle;
                letter-spacing: normal;
                padding: 0 3.6%;
                width: 100%;
                @media screen and (min-width: 1024px) {
                    display: inline-block;
                    padding-right: 0;
                    width: 35%;
                }
                @media screen and (max-width: 1080px) {
                    font-size: .8em
                }
                @media screen and (max-width: 1280px) {
                    font-size: .9em
                }
                h2 {
                    margin: 0.5em 0 .25em;
                    font: 400 1.5em "Pacifico",sans-serif;
                    color: #b51212
                }
                h1 {
                    margin-bottom: 0.5em;
                    font: 800 2.5em/1.2em "proxima-nova",sans-serif;
                    text-transform: uppercase;
                    &.xl {
                        font-size: 1.6em;
                        @media screen and (max-width: 910px) {
                            font-size: 2.5em
                        }
                    }
                    &.lg {
                        font-size: 1.8em;
                        @media screen and (max-width: 910px) {
                            font-size: 2.5em
                        }
                    }
                    &.md {
                        font-size: 2em;
                        @media screen and (min-width: 910px) {
                            font-size: 2.5em;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #282826
                    }
                }
                p {
                    font: 400 1em/1.5em "PT Serif",serif;
                    color: #adaba8
                }
            }
            figure {
                display: inline-block;
                vertical-align: middle;
                letter-spacing: normal;
                overflow: hidden;
                width: 64.28571429%;
                @media screen and (max-width: 910px) {
                    display: block;
                    width: 100%
                }
                &:hover {
                    a {
                        img {
                            -webkit-transform: scale(1.015);
                            -moz-transform: scale(1.015);
                            -ms-transform: scale(1.015);
                            -o-transform: scale(1.015);
                            transform: scale(1.015)
                        }
                    }
                }
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    img {
                        display: block;
                        width: 100%;
                        -webkit-transition: all,0.3s,ease-in-out;
                        -moz-transition: all,0.3s,ease-in-out;
                        transition: all,0.3s,ease-in-out
                    }
                }
            }
        }
    }
    .std-grid {
        article {
            h1 {
                color: #282826;
                a {
                    color: #282826
                }
            }
            .comments-bubble {
                right: 9.791666667%;
                bottom: 2.9375em
            }
        }
    }
}